.content {
  margin: 30px;
  font-size: 1.4em;
}

.content h1 {
  text-align: center;
}

/* Responsive section */
@media only screen and (max-width: 768px) {
  .content {
    margin: 10px;
    font-size: 1.4em;
  }
  .content p {
    text-align: justify;
  }
}
/* End of Responsive section */
